// Font-Awesome
//--------------------
$fa-font-path: '~font-awesome/fonts';

// Colors
//--------------------
$dark-blue: #123456;
$bright-blue: #55ddff;
$blue-contrast: #123789;
$light-grey: #ccc;
$dark-grey: #666;

$link-color: $bright-blue;
$bg-color: $dark-blue;
$text-color: $blue-contrast;

// Fonts
//--------------------
$font-family: 'Open Sans', sans-serif;
$font-family-fallback: 'Helvetica', Arial, sans-serif;

$default-font-size: 16px;
